<#@ import namespace="System" #>
<#+ 
 public void StartCustomPropertyDrawer(string className, Type classType)
 {
   WriteLine("using UnityEditor;");
   WriteLine("using UnityEngine;");
   WriteLine(string.Empty);
   WriteLine("[CustomPropertyDrawer(typeof( " + classType.Name + " ))]");
   WriteLine("public class " + className + " : PropertyDrawer");
   WriteLine("{");
 }

 public void EndCustonPropertyDrawer()
 {
   PopIndent(); 
   WriteLine("}");
 }
#>